<div class="container">
  <div class="row">
    <div class="col-lg">
      <div style="text-align:center">
        <img id="logo_fd" width="200px" src="assets/images/logo.png" />
      </div>
    </div>  
  </div>

  <!-- Menu de navigation -->
  <div class="row mt-3">
      <div class="offset-lg-2 col-lg-8 offset-lg-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav m-auto">
                <a class="nav-item nav-link active" href="/calendrier">Calendrier <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Stocks</a>
                <a class="nav-item nav-link" href="/desherbageFumure">Désherbage / Fumure</a>
                <a class="nav-item nav-link" href="#">Coût de traitement</a>
                <a class="nav-item nav-link" href="#">Liste technique produits</a>
                <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
              </div>
            </div>
          </nav>
      </div>  
  </div>        
</div>