<div class="container">
  <!-- <div class="row card card-container">
    <div class="offset-lg-3 col-lg-6 offset-lg-3">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div> -->
  <div class="offset-lg-4 col-lg-4 offset-lg-4">
      <div class="card card-container">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="assets/images/avatar_authentification.png" />
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin" action="/calendrier"> <!-- TODO A MODIFIER PAR CODE ANGULAR -->
              <span id="reauth-email" class="reauth-email"></span>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
              <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Se souvenir de moi
                  </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Se connecter</button>
          </form><!-- /form -->
          <a href="#" class="forgot-password">
              Mot de passe oublié?
          </a>
  </div>
  
</div><!-- /card-container -->
</div>
