<div class="container">
  <div class="offset-lg-4 col-lg-4 offset-lg-4">
      <div class="card card-container">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="assets/images/avatar_authentification.png" />
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin" [formGroup]="seConnecterForm" (ngSubmit)="onSubmit()">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName="email" required autofocus>
              <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" formControlName="password" required>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Se souvenir de moi
                  </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Se connecter</button>
              <div *ngIf="messageErreur != null" class="alert alert-danger" role="alert">{{ messageErreur }}</div>
          </form><!-- /form -->
          <a href="#" class="forgot-password">
              Mot de passe oublié?
          </a>
  </div>
  
</div><!-- /card-container -->
</div>
